<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/styles/normal.css">

<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">



<title> Travel Light | A wordpress plugin </title>


</head>

<body ng-app="travelLight" >

	<header class="container-fluid">

<a href=''> <img src="/images/logo.png" alt="Travel Light Logo" class="company_logo" onclick="downLoad()">

<p class="resume_link"> Download version 1 </p> </a> 
	</header>

	<section>

<div class="slideshow-container">

  <div class="mySlides slide_fade">
    
    <img src="/images/home_page_image.png"  alt="Blue and yellow smoke back ground" class="slider_image_1" />
    <div > <p class="text"></p> </div>
     
      <div > <p class="text_subtitle"> <p> </div>
  
   

  </div>

</div>

</section>

<section class="container-fluid">


  <h2> Travel Light a wordpress plugin by Unified Digital Media</h2>


  <div class="row">
  
    <div class="col-sm-6" >


<p> Online Pre-Travel Planner by Unified Digital Media gives you a revolutionary online, pre-travel planning search engine, allowing your users to refine their search, to places of interest that closely match their prefered type of holiday or speacial interest. Places of interest like leisure activites, events , sporting toirnament, bars , night clubs and restaurants are just some of the creiterias high on travellers priority list. With Travel Light, travellers can plan their trip and book their itinerary with companies they love.</p>

&nbsp;
<p>Travel Light is creating a one-stop-planner for places traveller might like to visit while travelling. Using this WordPress Travel Planner plugin, you can add a places of interest filter and map on any page. 


</p>
&nbsp;
<p>What Travel Life can offer:

</p>



<p>A new and exciting offering for your travellers unlike anything else on the market a travel planner box to help your travellers find the places of interest they love and a brand new revenue channel to add value to your site and monetise traffic.</p>




    </div>
  
    <div class="col-sm-6" >


<p>Here are just some of the plugins great features:</p>

<ul class="management_process"> 

<li> Easy to use travel planner with itinerary  </li>

<li> No predefined places of interest lists </li>

<li> Customised business groups </li>

<li> Google Map integration </li>

<li> Showcase of images and photos for places of interest </li>

<li> Lists place of interests' information and redirects to place of interests' website </li>


</ul>




    </div>
  
  </div>




</section>

<section class=" container-fluid">

<div class="row">

  <div class="col-sm-4">

  	<div class="w3-third">
    <div class="w3-card-2">
    <img src="/images/filter.png"  onclick="showModal(this)" alt="/images/filter-large.png" class="dedicated_support_image">
    <div class="w3-container">
    <h3> SEARCH & FILTER </h3> 

<p>Travel Light allows your users to search for places they want to visit and refines their search to a particular interest. </p>
    </div>
    </div>
    </div>


</div>

  <div class="col-sm-4">
    <div class="w3-third">
    <div class="w3-card-2">
    <img src="/images/business-tag.png" onclick="showModal(this)" alt="/images/business-tag-large.png" class="professional_service_image">
    <div class="w3-container">
    <h3> FIND PLACES OF INTEREST </h3> 

<p>Google Map integrations displays a user freindly pop up which lists all business information for a place of interest.</p>
    </div>
    </div>
    </div></div>
  
 
  <div class="col-sm-4"><div class="w3-third">
    <div class="w3-card-2">
    <img src="/images/itinerary.png" onclick="showModal(this)" alt="/images/itinerary-large.png" class="powerful_features_image">
    <div class="w3-container">
    <h3> BOOK TRAVEL ITINERARY</h3> 

<p>Users can easily add or remove places of interest to and from their itinerary and confirm their trip when they are checking out.</p>
    </div>
    </div>
    </div></div>

</div>


</section>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<footer  ng-controller="travelLightController" >
<div class="row">

  <div class="col-sm-6">  

  	<h6 class="footer_title"> ABOUT US</h6>

<p >Unified Digital Media London is a IT service provider founded by Machel Slack MSc Bsc (Hons) in 2012. Graduating from Kingston University (UK) in 2008, Machel Slack visited Jamaica, where he successfully implemented an IT system within the University of the West Indies' Department of Educational Studies.</p>

<p>There he was responsible for a group of staff sharing digital technology knowledge with faculty and IT managers to ensure streamlining of students’ cashless transactions, as part of the University’s strategic objective. Having completed his stint within that Department, he was asked to act as a liaison person, carrying out analytical work designing and developing a new system with software vendors. That work resulted in the implementation of an IT system within one of the University's commercial entities.</p>

<p >Later he returned to the UK, where he continued his education with Kingston University (UK). Having completed his Masters programme, he went on to establish Unified Digital Media.</p>

<p>UK MOBILE : +447880900087</p>
<p>EMAIL : <a href="mailto:machel.slack@unifieddigitalmedia.co.uk"> machel.slack@unifieddigitalmedia.co.uk </a> {{asdasd}}</p>

</div>

  <div class="col-sm-6" ng-controller="travelLightController">  

<h6 class="footer_title"> CONTACT US</h6>


<form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" placeholder="Your name (required)" required ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="email" class="form-control" id="email" placeholder="Your email (required)" required name="email" ng-model="email">
    </div>

 


  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="text" class="form-control form_field" id="subject" placeholder="Subject" ng-model="subject">
    </div>
  </div>

  
<div class="form-group">
   
    <div class="col-sm-12"> 
     <textarea class="form-control" rows="5" id="message" placeholder="Message" ng-model="message"></textarea>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-12">
     
    <button type="button" class="btn btn-default"  ng-click="contact_form_submission()"  id ="send_button" data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"
> Send </button>


    </div>

  </div>

</form>

    </div>

</div>

</footer>

<section class="copywright">

<p>Developed by Unified Digital Media - </p>

	</section>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/scripts/app.js" ></script>

<script src="/scripts/normal.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>


<script type="text/javascript">



var app = angular.module('travelLight', ['ngResource']);


app.factory('Form_Service', ['$resource', function($resource) {


var resource = $resource('https://travellight.herokuapp.com/api/sendemail/:name/:email/:subject/:message',{name:'@name',email:'@email',subject:'@subject',message:'@message'});

return resource;


}]);


app.controller('travelLightController', function($scope,$http,Form_Service) {



$scope.contact_form_submission = function () {


$http.get("https://travellight.herokuapp.com/api/sendemail/?name="+$scope.name+"&email="+$scope.email+"&subject="+$scope.subject+"&message="+$scope.message).then(

  function(response) {


alert('Your email has ben sent.');


    });



}



});


</script>





</body>

</html>